<!--Creates a homepage with a summary of the database - functionally the same as /home-->

<div class="container content"> <!-- Home content -->
    <h1>Welcome to the European Football Club Power Index! </h1>
    
    <p class="welcome">Through this website, all the essential details about the world's favorite clubs can be found so 
        fans can stay up-to-date. 
    </p>

    <h2>Teams</h2>
    <ul>
        <li>Display team information for all teams</li>
        <li>Add a team</li>
    </ul>
    <h2>Players</h2>
    <ul>
        <li>Display player information for all players</li>
        <li>Add a player</li>
        <li>Update a player</li>
        <li>Remove a player</li>
    </ul>
    <h2>Trophies</h2>
    <ul>
        <li>Display trophy information for all Trophies</li>
        <li>Add a trophy</li>
    </ul>
    <h2>Coaches</h2>
    <ul>
        <li>Display coach information for all coaches</li>
        <li>Add a coach</li>
        <li>Update a coach</li>
        <li>Remove a coach</li>
    </ul>
    <h2>Owners</h2>
    <ul>
        <li>Display owner information for all owners</li>
        <li>Display team ownerships</li>
        <li>Add a owner</li>
        <li>Update a owner</li>
        <li>Remove a owner</li>
    </ul>
    <h2>Matches</h2>
    <ul>
        <li>Display matches information for all owners</li>
        <li>Add a game</li>
    </ul>
</div> <!-- End of Home content -->