

<!-- teams.hbs -->
<h1>Teams</h1>
<p>View or Add Teams</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<table id="team-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            
            <th>Team ID</th>
			<th>Team Name</th>
			<th>Playing Ground</th>
            
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.team_id}}>
            <td>{{this.team_id}}</td>
            <td>{{this.team_name}}</td>
            <td>{{this.play_ground}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a Team</h2>
<p>To add a new team, please enter the information below and click 'Submit'</p>
<form id="add-team-form-ajax">
    <label for="input-name">Name: </label>
    <input type="text" name="input-name" id="input-name">
    
    <label for="input-play_ground">Playing Ground: </label>
    <input type="text" name="input-play_ground" id="input-play_ground">

    <input type="Submit">
</form>

<script src="./js/add_team.js"></script>

